.ascii {
  background: @ascii-background;
  color: #fff;

  position: relative;

  padding-bottom: 350px;

  .portrait {
    position: absolute;
    bottom: 0;

    max-width: 500px;
    max-height: 500px;
    z-index: 2;

    overflow: hidden;

    &:hover {
      pre {
        transition: line-height 1s linear;
        line-height: .2;
      }
    }

    pre {
      max-width: 500px;
      max-height: 500px;

      margin: 0 auto;

      font-style: Menlo;
      font-size: 8px;
      line-height: 1.2;

      overflow-x: scroll;
      overflow-y: scroll;

      &::selection {
        background: @ascii-background; /* WebKit/Blink Browsers */
      }

    }
  }

}
