body {
  padding-bottom: 70px;

  h1 {
    font-family: Menlo;
  }

  a {
    color: @link-color;
    &:hover {
      color: @link-color-hover;
      font-weight: bold;
    }
    &:active {
      cursor: none;
    }
  }

  .container {
    background-color: #fff;
  }
}

.content {
  .title {
    text-align: center;
  }
}

.sidebar {
  margin-top: 5%;

  .hidden-info {
    display: none;
  }

  .info {
    margin-top: 45px;

    text-align: center;

    i {
      margin-right: 7px;
    }

    a {
      color: @sidebar-link-color;
    }

    .email {
      padding: 10px 0 20px;
      font-size: 16px;
    }

    .sidebar-link {
      font-size: 14px;
      font-weight: bold;
    }
  }

  @media (max-width: 410px) {

    .links {
      margin-top: 20px;
    }

  }

  @media(max-height: 730px) {
    .info {
      .email {
        padding: 5px 0;
      }
    }
  }

  @media (max-height: 700px) and (min-width: 680px) {

    margin-top: 20px;

    .revealed-info {
      display: none;
    }

    .hidden-info {
      display: inline;

      .links {

        margin-top: 15px;
        margin-bottom: 25px;

        .email {
          margin: 10px 0;
        }

        .sidebar-link {
          font-size: 24px;
        }

      }
    }
  }
}

@media (min-width: 991px) {
  .wrapper {
    position: relative;
  }

  .sidebar {
    position: fixed;
  }

  .content {
    float: right;

    /* Micro ClearFix Mixin */
    .clearfix{
      zoom:1;
      &:before, &:after{ content:""; display:table; }
      &:after{ clear: both; }
    }
  }
}
