.portfolio-image {
  margin-top: 25px;
  width: 100%;
}

h2 > a {
  margin-top: 10px;

  color: @link-color-hover;

  &:hover {
    color: @link-color;
  }
}

.annotation {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}
