.ascii
  .portrait
    pre#pre
      |                            _._.,.. ,.
      |                         .osao:":e:o''xY;,
      |                       aaaWWWxe:e:X:ee,o..,
      |                      aaaWWaaopfdff. "YT  l
      |                     eaXWWaAaooffff        :
      |                    :ahwwaaaawoofff        .
      |                    :yxwwaaXfoyhhpp,       .
      |                   '´ `';raoYy ´´  ``      ,*,
      |                   'y?;,`\w?  ,~'T?:         :
      |         . .       :,h` 'yW    ej" `,y,      ,     . .
      |          u        ,lWw# #/  ,leYyy\w       .,      u
      |                   .rwW.Wi;    eexy:       _:
      |                   \:ILlL     '.oy:      :"
      |                    ,LLYª:;,    "'-     ,"
      |                    'Q.. "'      ',     :
      |                     ;, ,_`´  ,y -      ;
      |               . .qq:':oo.',-ov"        \
      |     ..xeKEEee:,,   , L'::,)",           .
      |    .""eeeeEeess.:EE.j ,`' ''            ;oe
      |   .:;,,.  ''esf fE:if. WKkl,            .%ee.,
      |   :eEEeeeee.. " Ew',E. YKkx:.,.:.     ,;'  ""''`
      |  eEEEeEeEEeee,;,.,  x:. 'x'". .:        /FFFee\\j
      |  .'"""E:EE,':oooWE ,   " '''  "'    ./ooooeoooe..:;j
      |   .ee,,.   ::.ffEW ,":$            '':ooooeeoeeoo$e:;:j
      |   .eEEEEe:;,  "'   ,x $$:.%oooXo,;e.,.    '"eeeoo$$ooo\\j
      |    ..EEeeee "'eFEe    "   '"txXXeeooooee;,,,  `` """$oo':j\j
      |     '.` eeee'fWFEe  .-;$$;,,,,     '"oooeeeooEoo;$$  `' ""´j
      |      '.. ,   `"'      '"$$ppoooxoooo;,,  '''oooooo $o o:.;"
      |        '.,ee FWe,E ;;EE.,"$ooooooooooooeeeo,,. "    oo\..;
      |          '.e FWe,E-,eEE": ,,,  ``''""ooooooooxvf$$ o'\;,.
      |            'l.  ,E-oxlEE  "$$ooooooo    '"ooooolo x ''
      |               "''E .   'e;. $$,'ooxoooo"'....---'""'
      |                 ''eEEE-,,,;;,$,oooo,---'''
      |                               '''
