footer.container
  nav.navbar.navbar-fixed-bottom.footer(role="navigation")
    ul.list-inline.nav.navbar-nav
      li: a(href="#top") top
      li: a(href="#technologies") tech
      li: a(href="#projects") projects
