footer.container
  .nav.navbar-nav.navbar-fixed-bottom.footer
    .links.row
      ul.list-inline.col-xs-11.col-xs-offset-1.col-md-3.col-md-offset-5
        li: a(href="#top") top
        li: a(href="#skills") skills
        li: a(href="#projects") projects
