.info
  h1 Caleb Gregory
  .links-container
    ul.list-unstyled.links
      li.email
        a(href="calebgregory@gmail.com")
          i.icon-mail
          | calebgregory@gmail.com
      li.sidebar-link
        a(href="https://github.com/calebgregory")
          i.icon-github
          | github
      li.sidebar-link
        a(href="https://www.linkedin.com/in/calebgregory")
          i.icon-linkedin
          | linkedin
      li.sidebar-link
        a(href="./assets/resume.pdf")
          i.icon-doc-text-inv
          | resume
      li.sidebar-link
        a(href="https://instagram.com/calebgregory_")
          i.icon-instagram
          | instagram
      li.sidebar-link
        a(href="https://twitter.com/calebgregory_")
          i.icon-twitter
          | twitter
