.info
  h1 Caleb Gregory
  ul.list-unstyled
    li.email
      a(href="calebgregory@gmail.com")
        i.icon-mail
        | calebgregory@gmail.com
    li
      a(href="https://github.com/calebgregory")
        i.icon-github
        | github
    li
      a(href="https://www.linkedin.com/in/calebgregory")
        i.icon-linkedin
        | linkedin
    li
      a(href="https://twitter.com/calebgregory_")
        i.icon-twitter
        | twitter
