h2 Univariate Linear Regression
img.portfolio-image(src="./assets/univlinereg.png")
h2 cal.js
img.portfolio-image(src="./assets/caljs.png")
h2 Check My Tunes
img.portfolio-image(src="./assets/checkmytunes.png")
