h2
  a(href="http://news.caleb-gregory.com") News Scraper
a(href="http://news.caleb-gregory.com")
  img.portfolio-image(src="./assets/news.png")
.annotation
  p A selective news source that provides sentiment analysis of news stories and overall analysis of sentiment per source, visualized with D3.js. Built using Python, Celery/RabbitMQ, Node.js/Express, and PostgreSQL.
  a(href="https://github.com/calebgregory/newscraper_app")
    i.icon-github
    | Source code and annotation at github

h2
  a(href="http://regress.caleb-gregory.com/") Univariate Linear Regression
a(href="http://regress.caleb-gregory.com/")
  img.portfolio-image(src="./assets/univlinereg.png")
.annotation
  p A JavaScript implementation of the machine learning strategy, visualized using D3.js
  a(href="https://github.com/calebgregory/univariate-linear-regression")
    i.icon-github
    | Source code and annotation at github

h2
  a(href="http://www.github.com/calebgregory/cal.js") cal.js
a(href="http://www.github.com/calebgregory/cal.js")
  img.portfolio-image(src="./assets/caljs.jpg")
.annotation
  p A JavaScript emulation of the unix cal
  a(href="https://github.com/calebgregory/cal.js")
    i.icon-github
    | Source code and annotation at github

h2
  a(href="http://www.tunes.caleb-gregory.com/") Check My Tunes
a(href="http://www.tunes.caleb-gregory.com/")
  img.portfolio-image(src="./assets/checkmytunes.png")
.annotation
  p A music management platform build with Node.js/Express and MongoDB
  a(href="https://github.com/calebgregory/node-tunes")
    i.icon-github
    | Source code and annotation at github
