.row
  .col-xs-6
    h5 Languages
    ul.list-unstyled
      li: a(href="https://www.javascript.com/") JavaScript
      li: a(href="http://www.mathworks.com/products/matlab/") Matlab
      li: a(href="https://www.java.com/en/") Java
    h5 Frameworks
    ul.list-unstyled
      li
        a(href="https://nodejs.org/en/") Node.js
        | /
        a(href="http://expressjs.com/") Express
      li: a(href="http://http://socket.io/") Socket.IO
      li: a(href="https://angularjs.org/") AngularJS
      li: a(href="http://d3js.org/") D3.js
    h5 Tools
    ul.list-unstyled
      li
        a(href="http://www.vim.org/") Vim
        | /
        a(href="https://github.com/tpope/vim-pathogen") Pathogen
      li: a(href="https://heroku.com") Heroku
      li: a(href="https://github.com/") Git
      li
        a(href="http://gruntjs.com/") Grunt
        | /
        a(href="https://www.npmjs.com/") NPM
        | /
        a(href="http://bower.io/") Bower
      li: a(href="https://trello.com/") Trello
    h5 Testing
    ul.list-unstyled
      li
        a(href="https://mochajs.org/") Mocha
        | /
        a(href="http://chaijs.com/") Chai
      li: a(href="https://travis-ci.org/") Travis CI
      li: a(href="https://codeclimate.com/") Code Climate
      li: a(href="http://eslint.org/") ESLint
  .col-xs-6
    h5 Database
    ul.list-unstyled
      li: a(href="https://www.mongodb.org/") MongoDB
      li: a(href="https://www.sqlite.org/") SQLite3
      li: a(href="http://www.postgresql.org/") PostgreSQL
    h5 User Experience
    ul.list-unstyled
      li
        | HTML5
        a(href="http://jade-lang.com/") Jade
      li CSS/CSS5
      li
        a(href="http://sass-lang.com/") SASS
        | /
        a(href="http://lesscss.org/") LESS
      li: a(href="https://jquery.com/") jQuery
      li: a(href="http://getbootstrap.com/") Bootstrap
      li: a(href="http://foundation.zurb.com/") Foundation
      li: a(href="http://purecss.io/") PureCSS
    h5 Mobile Development
    ul.list-unstyled
      li
        a(href="https://cordova.apache.org/") Cordova
        | /
        a(href="http://ionicframework.com/") Ionic
